.page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.typing{
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #333
  width: 0;
  animation: typing 2s stemps(20, 0) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 15ch } 
}

@ keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #333 }
}
